<% include head %>
    <% if(user.identity === 'student') { %>
        <% include partials/topbar-student %>
    <% } else if(user.identity === 'admin') { %>
        <% include partials/topbar-admin %>
     <% } %>
    <% if(error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <div class="bookdetailWrap blockWrap">
        <div class="mb30 cf">
            <div class="coverWrap"><img src="/images/cover/<%= book.cover %>" alt="<%= book.name %>"></div>
            <div class="infoWrap">
                <h4 class="name"><%= book.name %></h4>
                <p class="auth">作者: <a href="/search?keyword=<%= book.author %>&by=author"><%= book.author %></a></p>
                <p class="publisher">出版社: <%= book.publisher %></p>
                <p class="time">出版时间: <%= book.time %></p>
                <p class="isbn">ISBN: <%= book.isbn %></p>
                <p class="type">所属分类: <a href="/list?type=<%= book.type %>"><%= book.type %></a> > <a href="/list?type=<%= book.type %>&subType=<%= book.subType %>"><%= book.subType %></a></p>
                <% if(book.comment) { %>
                    <p><%= book.comment.num %> 个人已评: <span class="hr"><%= book.comment.score %></span> 分</p>
                <% } else { %>
                    <p>暂无评分</p>
                <% } %>

                <p class="type">可借: <%= book.available %> 本</p>
                <div class="btnWrap">
                    <% if (user.identity === 'student') { %> 
                        <% if (Number(book.available) === 0) { %>
                            <a href="#fakelink" class="btn lenBtn btn-primary disabled">无法借阅</a>
                        <% } else if (borrowed) { %>
                            <a href="#fakelink" class="btn lenBtn btn-primary disabled">已借阅</a>
                        <% } else { %>
                            <a href="/borrow/<%= book._id %>" class="btn lenBtn btn-primary">马上借阅</a>
                        <% } %>

                        <% if (favoed) { %>
                            <a href="/unfavo/<%= book._id %>" class="btn favoBtn btn-inverse"><span class="fui-heart favoed"></span></a>
                        <% } else { %>
                            <a href="/favo/<%= book._id %>" class="btn favoBtn btn-inverse"><span class="fui-heart"></span></a>
                        <% } %> 
                        
                    <% } else if(user.identity === 'admin') { %>
                        <div class="alert alert-warning dpn removeWarning">
                            确定要删除该图书吗?<a href="/remove/<%= book._id %>" class="alert-link">确定</a><a href="" class="alert-link cancelRemoveBtn">取消</a>
                        </div>
                        <a href="/edit/<%= book._id %>" class="btn editBtn btn-default">编辑</a>
                        <a class="btn deleBtn btn-default removeBookBtn">删除</span></a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="toggleTitle cf">
            <div class="title active"><a href="" class="a-b">图书介绍</a></div>
            <div class="title"><a href="" class="a-b">图书评价</a></div>
        </div>
        <% if (book.summary) { %>
            <h5>内容简介</h5>
            <p class="info-p"><%= book.summary %></p>
        <% } %>
        <% if (book.list) { %>
            <h5>目录</h5>
            <p class="info-p"><%= book.list %></p>
        <% } %>
        <% if (book.intro) { %>
            <h5>前言</h5>
            <p class="info-p"><%= book.intro %></p>
        <% } %>
    </div>
    <% include partials/footer %>
<% include foot %>