<% include head %>
    <% include partials/topbar-admin %>
    <% if(error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <div class="blockWrap addBookWrap">
        <h4 class="title">编辑图书<a href="javascript:history.go(-1)" class="title-back">返回</a></h4>
        <form action="/edit" method="POST" class="addBook" enctype="multipart/form-data" id="editBookForm">
            <input type="hidden" name="id" class="form-control" value="<%= book._id %>">
            <div class="form-group">
                <label for="name">书名</label>
                <input type="text" name="name" class="form-control" value="<%= book.name || '' %>">
            </div>
            <div class="form-group"> 
                <label for="author">作者</label>
                <input type="text" name="author" class="form-control" value="<%= book.author %>">
            </div>
            <div class="form-group"> 
                <label for="publisher">出版社</label>
                <input type="text" name="publisher" class="form-control" value="<%= book.publisher %>">
            </div>
            <div class="form-group"> 
                <label for="time">出版时间</label>
                <input type="text" name="time" class="form-control" value="<%= book.time %>">
            </div>
            <div class="form-group"> 
                <label for="isbn">ISBN</label>
                <input type="text" name="isbn" class="form-control" value="<%= book.isbn %>">
            </div>
            <div class="form-group"> 
                <label for="type">分类</label>
                <select name="type" id="type" data-selected="<%= book.type %>">

                </select>
                <select name="subType" id="subType" data-selected="<%= book.subType %>">
                    
                </select>
            </div>
            <div class="form-group"> 
                <label for="haveNum">藏书数</label>
                <input type="text" name="haveNum" class="form-control" value="<%= book.haveNum %>">
            </div>
            <div class="form-group"> 
                <label for="cover">封面</label>
                <input name="cover" type="file" id="cover">
                <input type="hidden" name="originalCover" value="<%= book.cover %>">
            </div>
            <div class="form-group">
                <label for="summary">内容简介</label>
                <textarea name="summary" id="" class="form-control"><%= book.summary %></textarea>
            </div>
            <div class="form-group"> 
                <label for="list">目录</label>
                <textarea name="list" id="" class="form-control"><%= book.list %></textarea>
            </div>
            <div class="form-group"> 
                <label for="intro">前言</label>
                <textarea name="intro" id="" class="form-control"><%= book.intro %></textarea>
            </div>
            <div class="alert alert-warning dpn removeWarning">
                确定要删除该图书吗?<a href="/remove/<%= book._id %>" class="alert-link">确定</a><a href="" class="alert-link cancelRemoveBtn">取消</a>
            </div>
            <input type="submit" class="submitBtn btn btn-block btn-primary" value="提交修改">
            <a class="btn deleBtn btn-default removeBookBtn">删除该书</span></a>
            <a href="javascript:history.go(-1)" type="button" class="cancelBtn btn btn-block btn-default">取消</a>
        </form>
    </div>
    <% include partials/footer %>

<% include foot %>